<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Expense Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav sm:bg-dark">
                <a class="nav-link" href="/add_expense">Add</a>
                <a class="nav-link" href="/expenses">Expenses</a>
                <a class="nav-link" href="/expense">History</a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="chart">
    <h1>{{duration}} Expense Visualisation</h1>
    <div class="expense-type">
        <div>
            <a href="/expensechart/weekly">Weekly</a>
        </div>
        <div>
            <a href="/expensechart">Monthly</a>
        </div>
    </div>
    <canvas id="myChart" width="400" height="100vh" style="height: 200px; width: 200px"></canvas>
    <script>
        const expensesMap = {{{ expensesMap }}}
        console.log(expensesMap)
        const labels = Object.keys(expensesMap)
        const data = Object.values(expensesMap).map(item => item.amount)
        const average = Object.values(expensesMap).map(item => item.average)
    </script>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels,
                datasets: [{
                    label: 'Expenses by Category',
                    data,
                    backgroundColor: "tomato",
                    borderColor: "red",
                    borderWidth: 1
                },
                {
                    label: 'Average by Category',
                    data: average,
                    backgroundColor: "blue",
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>