<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Expense Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav sm:bg-dark">
                <a class="nav-link" href="/">Login</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="login">
        <div class="form">
            <form action="/register" method="post" class="login-form">
                <h2>Register</h2>
                {{#if messages.success}}
                <p class="text-success flash">{{messages.success}}</p>
                {{/if}}
                {{#if messages.error}}
                <p class="text-danger flash">{{messages.error}}</p>
                {{/if}}
                <input type="text" name="firstname" placeholder="firstname" required />
                <input type="text" name="lastname" placeholder="lastname" required />
                <input type="text" name="email" placeholder="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                <button type="submit">register</button>
            </form>
        </div>
    </div>
</div>